*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
}

.background-img {
	background-position: center center;
  	background-repeat: no-repeat;
  	/*background-size: auto;*/
  	background-size: cover;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrFkPyLDS_MtHTwwImF_6Z8ToCMtClpzrZ8uR3ZO2y_QgD-2PR);
	/*height: 100%;*/
	opacity: 90%;
	background-attachment: fixed;
}




.profile-pic{
	border: 5px solid white; 
	border-radius:20px;
	width:200px;
	height: 200px;
	background-image: url("C:/Users/user1/Documents/SALES/portfolio/profile pic.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}





.main-menu{
	margin-left:10px;

}

div > p {
	margin-bottom: 600px;
}




.fa-linkedin {
  /*background: #007bb5;*/
  color: white;
}

.fa-snapchat-ghost {
  /*background: #fffc00;*/
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-facebook {
  /*background: #3B5998;*/
  color: white;

}

.fa-skype {
  /*background: #00aff0;*/
  color: white;
}


.header-section {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 111;
    padding-top: 40px;
    padding-bottom: 20px;
}


@media only screen and (min-width: 768px) and (max-width: 1024px)
	{ .container-fluid{
		height: 100%
	}
	}


	@media only screen and (min-width: 321px) and (max-width: 767px)
	{ .container-fluid{
		height: 100%;}
	  .fa-fluid {
	  	margin-left: 20%;
	  }

	  
	}

@media only screen and (max-width: 320px)
	{ .profile-pic{
		margin-left:20%;
	}

	.fa-fluid {
	  	margin-left: 20%;
	  }

	}


